@model IEnumerable<DatabaseLayer.Entities.ExpenseView>

@{
    ViewData["Title"] = "Filtered List";
}

<h1>FilteredList</h1>

<p>
    <a asp-action="AddExpense" asp-controller="Expense">Create New</a>
</p>
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Expense", new { id = item.Id}) |
                    @Html.ActionLink("Details", "Details", "Expense", new { id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", "Expense", new { id = item.Id})
            </td>
        </tr>
}
    </tbody>
</table>
